apiVersion: v1
kind: Secret
metadata:
  name: owlet-secrets
  namespace: owlet
type: Opaque
stringData:
  OWLET_USERNAME: "your-email@example.com"
  OWLET_PASSWORD: "your-password"
  OWLET_REGION: "europe"
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "postgres-password"
  POSTGRES_DB: "owlet"
