apiVersion: v1
kind: Secret
metadata:
  name: owlet-secrets
  namespace: owlet
type: Opaque
stringData:
  OWLET_USERNAME: "your-email@example.com"
  OWLET_PASSWORD: "your-password"
  OWLET_REGION: "europe"
  POSTGRES_HOST: "your-postgres-host"
  POSTGRES_PORT: "5432"
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "postgres-password"
  POSTGRES_DB: "owlet"
